/* ============================= */
/* VARIÁVEIS DE COR DO CINE-LIST */
/* ============================= */
:root {
    --cinelist-red: #E50914; /* Vermelho de Ação/Destaque */
    --cinelist-bg-dark: #121212; /* Fundo principal escuro */
}

/* ============== */
/* AJUSTES GERAIS   */
/* ============== */

/* Cor de destaque */
.text-cinelist-red {
    color: var(--cinelist-red) !important;
}

/* Fundo do corpo e outros elementos dark */
.bg-dark {
    background-color: var(--cinelist-bg-dark) !important;
}

/* Fundo dos cards e componentes de barra */
.bg-cinelist-card, .card {
    background-color: var(--cinelist-card-bg) !important;
}

/* Links da navegação */
.nav-link:hover, .navbar-brand:hover {
    color: var(--cinelist-red) !important;
}

/* Botões de Ação (Danger) */
.btn-danger {
    background-color: var(--cinelist-red) !important;
    border-color: var(--cinelist-red) !important;
}

/* Switch de Tema (para manter a cor vermelha) */
.form-check-input:checked {
    background-color: var(--cinelist-red);
    border-color: var(--cinelist-red);
}

/* Estilo para o ícone do switch de tema */
.text-cinelist-red i {
    color: var(--cinelist-red);
}

/* Muda o cursor para "mãozinha" ao passar por cima das estrelas */
#rating-stars i:hover {
  cursor: pointer;
}

/* Torna o botão da estrela transparente e sem borda */
.btn-rating {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important; /* Remove o brilho azul do :focus */
  padding: 0;
  margin: 0 2px; /* Pequeno espaço entre as estrelas */
}